<div class="title-div-full">
  <h2 class="page-header text-center">Search Authors</h2>
</div>
<div class="div-card-full">
<form action="/authors" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label for="">
        Name
      </label>
      <input type="text" name="name" value="<%=opt.name%>" />
    </div>
  </div>
  <div class="form-row form-row-end">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
</div>

<br />
<% authors.forEach(author =>{ %>
  <div class="author-card-full">

  <div class="author-row">
  <div class="author-name"><%= author.name %></div>
  <div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm.ejs', {url:`/authors/${author.id}`}) %>
  </div>
</div>
</div>

<% }) %>
